{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container wow fadeInUp mt-5" align="right" >
<div class="col-lg-3 col-md-10">


<p>
    {% blocktrans %}
     الرجاء إدخال الايمايل
    {% endblocktrans %}
</p>
<form method="post" action="">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="{% trans 'تغيير كلمة المرورو' %}" />
</form>


</div></div>
{% endblock %}


{# This is used by django.contrib.auth #}
