{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Activation email sent" %}{% endblock %}

{% block content %}
    <div class="container wow fadeInUp mt-5" >
<div class="col-lg-3 col-md-10">


<p>{% trans "الرجاء مراجعة الايمايل  لتنشيط الحساب الخاص بك" %}</p>


</div></div>
{% endblock %}


{% comment %}
**registration/registration_complete.html**

Used after successful completion of the registration form. This
template has no context variables of its own, and should simply inform
the user that an email containing account-activation information has
been sent.
{% endcomment %}
