{% extends "registration/registration_base.html" %}
{% load i18n %}
<!DOCTYPE html>

<html lang="ar" dir="rtl">

{% block title %}{% trans "Register for an account" %}{% endblock %}
{% load crispy_forms_tags %}


{% block content %}

    <div class="container wow fadeInUp mt-5" align="right" >

<div class="col-lg-5 col-md-10">

<form method="post" action="">
    {% csrf_token %}
    {{  form|crispy }}
    <input type="submit" value="{% trans 'تسجيل' %}" />
</form>

</div></div>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
