 {% load static %}
 {% include 'javascript.html' %}
 {% include 'head_css.html' %}
  {% include 'navbar.html' %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html dir="rtl" lang="ar"  xml:lang="ar">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>الجمعية الخيرية لتحفيظ القرآن الكريم بالخرمة (اقرأ)</title>
 </head>

<body id="page-top">

<div class="container-fluid">

   <header style=" background-image: url('/static/img/11.jpg') ;
          height: 200px;
          margin-top: 0px;
          background-color: #e3f2fd;
          background-position: center;">
    <div class="container text-center">

    </div>

  </header>

{% block content %}


{% endblock %}


  <!-- Footer -->
  <footer style="background-color: #e3f2fd">
 <div style="background-color: #e3f2fd">
    <br class="container">
      <p class="m-0 text-center text-black-50">حقوق النشر&copy; منصة خاصة بالجمعية الخيرية لتحفيظ القرآن الكريم بالخرمة (اقرأ) &copy 2021</p>

    </div>
<center>
    <img src="{% static 'img/ok.png' %}" alt="footer logo">

    <!-- /.container -->
  </footer>

</div>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="{% static 'js/scrolling-nav.js' %}"></script>

</body>

</html>
