{% load static %}
<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   <script src="{% static 'js/bootstrap.min.js'%}"></script>
   <link href="{% static 'css/bootstrap.css' %}" >
   <script src="{% static 'js/bootstrap.js' %}"></script>
   <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{% static 'css/scrolling-nav.css' %}" rel="stylesheet">